<div *ngIf="category">
<h1>{{category.name}}</h1>
<div class="col-10">
<div *ngFor="let p of products" class="card mb-3" style="max-width: 100%;">
    <div class="row no-gutters">
      <div class="col-md-3 p-3">
        <img src="{{p.image}}" class="card-img" style="max-height: 15vw; max-width: 15vw;"alt="{{p.name}}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><a [routerLink]="['/product', p.id]">{{p.name}}</a></h5>
          <p class="card-text">{{p.description}}</p>
          <p class="card-text"><small class="text-muted">${{p.price}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>